name: Test logzio-aws-metrics

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      env:
        LOGZIO_REGION: us
        AWS_NAMESPACES: AWS/EC2,AWS/Lambda,AWS/CloudFront,aws/wrong,AWS/nosuch
        LOGZIO_TOKEN: jusTaFaKeTOKEndmtQPilCqwerAAssPP
        AWS_DEFAULT_REGION: us-east-1
        SCRAPE_INTERVAL: 300
        CUSTOM_CONFIG_PATH: ''
        P8S_LOGZIO_NAME: tests
        CUSTOM_LISTENER: ''
      run: |
        pytest tests.py
    - name: Test with pytest (custom listener)
      env:
        LOGZIO_REGION: us
        AWS_NAMESPACES: AWS/EC2,AWS/Lambda,AWS/CloudFront,aws/wrong,AWS/nosuch
        LOGZIO_TOKEN: jusTaFaKeTOKEndmtQPilCqwerAAssPP
        AWS_DEFAULT_REGION: us-east-1
        SCRAPE_INTERVAL: 300
        CUSTOM_CONFIG_PATH: ''
        P8S_LOGZIO_NAME: tests
        CUSTOM_LISTENER: https://custom.listener:3000
      run: |
        pytest tests.py
